body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {

    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}


h2,
h3 {
    color: #333;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}


form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input,
textarea,
button {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

input[type="file"],
input[type="text"],
input[type="password"] {
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#posts .post {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts .post p {
    margin-bottom: 0.5rem;
    text-align: center;
}

#posts .post .post-header {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

#posts .post .post-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}


#posts .post img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    display: block;
}

#user-posts .post-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#user-posts .post {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 1rem;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-posts .post img {
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    margin-bottom: 0.5rem;
    display: block;
}

#user-posts .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

#user-posts .post-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

#profile-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 2rem;
}

.profile-details {
    flex: 1;
}

.profile-details p {
    margin-bottom: 0.5rem;

}

.profile-details strong {
    display: block;
    margin-bottom: 0.2rem;
}

#login-form-container,
#register-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;

}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .post {
        width: 48%;

    }

    nav a {
        margin: 0.5rem 0;
    }

    form {
        width: auto;
        margin: 20px;

    }
}

@media (max-width: 480px) {
    .post {
        width: 100%;
    }
}